/* Base styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* Custom color palette */
.bg-dark-green {
  background-color: #0D7C66 !important;
}

.bg-light-green {
  background-color: #41B3A2 !important;
}

.bg-pale-green {
  background-color: #BDE8CA !important;
}

.bg-lavender {
  background-color: #D7C3F1 !important;
}

.text-dark-green {
  color: #0D7C66 !important;
}

.text-light-green {
  color: #41B3A2 !important;
}

.text-pale-green {
  color: #BDE8CA !important;
}

.text-lavender {
  color: #D7C3F1 !important;
}

/* Navbar Customization */
.navbar-custom {
  background-color: #0D7C66;
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .nav-link:hover {
  color: #BDE8CA;
}

/* Footer */
footer {
  background-color: #D7C3F1;
  margin-top: auto;
  text-align: center;
  padding: 1rem 0;
}

/* Form and button styles */
.readonly-input {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  font-size: 1rem;
  color: #6c757d;
  pointer-events: none; /* Disable input interaction */
  width: calc(100% - 100px); /* Adjust width to leave space for button */
}

.readonly-input:focus {
  border-color: #7FB77E;
  box-shadow: none;
}

.btn-edit {
  margin-left: 10px;
  flex-shrink: 0; /* Prevents button from shrinking */
}

.input-group {
  display: flex;
  align-items: center; /* Vertically aligns button and input */
}

    .btn-purple {
        background-color: #937DC2; /* Purple */
        color: white;
    }
    .bg-light-gray {
        background-color: #f0f0f0; /* Adjust as needed */
    }

    .list-group-item-active {
        background-color: #937DC2; /* Purple */
        color: #ffffff; /* White */
    }
