{% extends 'base.html' %}

{% block content %}

<!-- Main Content: Friends Search -->
<div class="container my-5">
  <h1 class="text-center text-dark-green">Search Friends</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form >
        <div class="mb-3">
          <label for="name" class="form-label text-dark-green">Find Friends</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your friend name">
        </div>
        <button id="search-btn" type="submit" class="btn bg-light-green text-white w-100">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Fake Friends List -->
<div class="container my-5">
  <h2 class="text-dark-green">Friends List</h2>
  <div class="list-group">
    <!-- Friend 1 -->
  {% for result in results %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="http://localhost:5000/media/50/{{ result['id'] }}" alt="Friend 1" class="rounded-circle me-3">
        <div>
          <h5 class="mb-1">{{ result['name'] }}</h5>
          <p class="mb-0">{{ result['email'] }}</p>
        </div>'
      </div>
      {% set sent_request_ids = user['sent_requests'] | map(attribute='receiver_id') | list %}
      {% if result['id'] in sent_request_ids %}
        <button  id="{{ user['sent_requests'][sent_request_ids.index(result['id'])]['id'] }}" name="delete_request_btn"
                 class="btn btn-purple">Cancel Friendship Request</button>
      {% else %}
        <button id="{{ result['id'] }}" name="send_request_btn" class="btn btn-light-green">Send Friendship Request</button>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

<script src="../static/js/friends.js" type="module"></script>

{% endblock %}
