<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="content" id='content'>
    <input type="text" placeholder="chat_id" id='chat_id'>
    <button id="connect-btn" >conectar</button>
    <button id="send-btn">enviar</button>
    <button id="disconnect-btn" >desconectar</button>
    <br>
    <input id="received" type="text">
    <script type="module" src="../static/js/index.js"></script>
</body>
</html>